<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container-middle mt-5">
        <% if (errorMessage) { %>
        <div class="alert alert-<%= result %> text-center" role="alert" id="alert-<%= result %>">
            <%= errorMessage %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <div class="container text-uppercase <%= hidden === true ? 'hidden' : '' %>">
            <form action="/new-password" method="POST" novalidate>
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 mt-3">
                        <label for="newPassword">New Password</label>
                        <input type="text" class="form-control" id="newPassword" name="newPassword" placeholder=""
                            value="<%= oldInput.newPassword %>">
                    </div>
                    <div class="col col-lg-4 col-md-12 col-sm-12 mt-3">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                        <button type="submit" class="btn btn-dark btn-md">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function hideAlert() {
            const alert = document.getElementById('alert-danger');
            alert.classList.add("hidden");
            if(alert.id === 'alert-danger'){
                window.location = '/login'
            }
        };
        const alert = document.getElementById('alert-danger');
        if (alert.classList[0] === 'alert') {
            setTimeout("hideAlert()",3000);
        }
    </script>
    <%- include('../includes/end.ejs') %>